HELP.md
.gradle
/build/classes/
/build/generated/
/build/reports/
/build/resources/
/build/test-results/
/build/tmp/
!gradle/wrapper/gradle-wrapper.jar

# dependencies
/client/node_modules

# testing
/client/coverage

# production
/client/build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
/client/.idea
*.iws
*.iml
*.ipr
/out/
/client/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

gradle
out
application.properties
/client/node_modules/
/client/package-lock.json
/client/.gradle
/client/build/
/client!gradle/wrapper/gradle-wrapper.jar
/client/src/utilities/server_AWS.js

### Terraform ###
# Compiled files
/aws/terraform/EC2/*.tfstate
/aws/terraform/EC2/*.tfstate.backup

# Module directory
/aws/terraform/EC2/.terraform/

### Ansible ###
/aws/ansible/deploy/*.retry